.prat1{

width: 400px;

height: 400px;

background: blue;/*边长200像素的蓝色方块*/


}

.prat2{

width: 200px;

height: 200px;

background: red;/*边长200像素的蓝色方块*/
float: left;

}

.prat3{

width: 200px;

height: 200px;

background: yellow;/*边长200像素的蓝色方块*/
float:left;


}
